

.navbar, .FormCardContainer, .table-card, .permit-card {
    margin-bottom: 32px;
}

.table {
    margin-bottom: 0;
}

.table td, .table th {
    border-top: 0;
}

/* .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
} */